@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    /* color: rgb(240, 255, 255); */
}

div.card#card-one{
    /* background: linear-gradient(135deg, #da8312, #f0b4f0); */
    transform: translate(100px) ;
}

:root {
    --animate-duration: 6s;
    --animate-delay: 5s;
  }

